<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">


<title>Home Panel</title>


<script src="{{url_for('static',filename='js/lumino.glyphs.js') }}"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5
elements and media queries -->

<!--[if lt IE 9]>
<script src="{{url_for('static',filename='js/html5shiv.js') }}"></script>
<script src="{{url_for('static',filename='js/respond.min.js') }}"></script>
<![endif]-->

<link href="{{url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{url_for('static',filename='css/datepicker3.css') }}" rel="stylesheet">
<link href="{{url_for('static',filename='css/styles.css') }}" rel="stylesheet">

</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>HOME</span>panel</a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> User <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Profile</a></li>
							<li><a href="#"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Settings</a></li>
							<li><a href="#"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
							
		</div><!-- /.container-fluid -->
	</nav>
	
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">		
		
		
		<div class="row">
			{% if state %} Statut : {{state}} {% endif  %}
			

			<!--
			BLOC ALARME
			-->

			<div class="col-md-5">
				<div class="panel-heading">
						Alarme
				</div>
				<div class="panel-body">
						<a href="/alarm_start" class="btn btn-default">Activer</a>
						<a href="/alarm_stop" class="btn btn-default" type="submit">Activer</a>

						<button class="btn btn-default" type="submit">Activer</button>
						<button class="btn btn-danger" type="submit">Désactiver</button>
				</div>
			</div>


			
			<div class="col-md-4">
			
				{% block todo %}
				{% endblock %}
				
								
			</div><!--/.col-->


			<!--
			BLOC PHOTOS
			-->
			{% block photos %}
			{% endblock %}


			<!--
			BLOC USERS


			
				<div class="panel panel-teal">
					<div class="panel-heading dark-overlay">Utilisateurs</div>
					<div class="panel-body">
						<p>Personnes connectées.</p>

						
					</div>
				</div>

			-->
			<div class="col-md-3">
			{% block check_network %}
			{% endblock %}
			</div><!--/.col-->
			
			


		</div><!--/.row-->
	</div>	<!--/.main-->
		  

	<script src="{{url_for('static',filename='js/jquery-1.11.1.min.js') }}"></script>
	<script src="{{url_for('static',filename='js/bootstrap.min.js') }}"></script>
	<script src="{{url_for('static',filename='js/chart.min.js') }}"></script>
	<script src="{{url_for('static',filename='js/chart-data.js') }}"></script>
	<script src="{{url_for('static',filename='js/easypiechart.js') }}"></script>
	<script src="{{url_for('static',filename='js/easypiechart-data.js') }}"></script>
	<script src="{{url_for('static',filename='js/bootstrap-datepicker.js') }}"></script>







<!-- Requetes AJAX JS -->
<script type="text/javascript">
$(document).ready(function(){

	// ADD ITEM
	$("#btn_add").click(function(){
		// set variables
		alert ('value : '$("#input_item").value);

		
		data = {
			'name': $("#input_item").value;
		}
	
		$.ajax({
			method: "POST",
			url: "/add_item",
			data: data,
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: function(data){console.log("login : "+data);},
			failure: function(errMsg) {
				alert(errMsg);
			}
		});
	});
	
	// UPDATE ITEM
	$("#btn_update").click(function(){
	
		// set variables
		alert ('update this : ' + $(this).attr('id'));
		data = {
			'type': , 
			'state': ,
			'name':
		}
		
		$.ajax({
			method: 'POST',
			url: '/modif_item/'+id,
			dataType: 'json',
			data: data,
			success: function(data){
			  console.log('Session: '+data);
			}
		});
	)};
	
	// DEL ITEM
	$("#btn_del").click(function(){

		alert ('delete this : ' + $(this).attr('id'));
		data = {
			'id': //get id item clicked
		}
		
		$.ajax({
			method: 'POST',
			url: '/del_item',
			dataType: 'json',
			data: data,
			success: function(data){
			  console.log('Session: '+data);
			}
		});
	)};
	
	
});

</script>
</body>

</html>